@if(data$ | async;as data){
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-md-6 text-center">
      <img
        [src]="data.userProfile?.image"
        class="rounded mx-auto d-block"
        [alt]="data.userProfile?.username"
      />
      <h4 class="mt-3">{{ data.userProfile?.username }}</h4>
      <p>{{ data.userProfile?.bio }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-sm-3 col-md-3 mx-auto px-5">
      @if(data.isCurrentUserProfile){
      <button
        type="button"
        class="btn btn-outline-secondary action-btn"
        data-bs-toggle="button"
        aria-pressed="false"
        autocomplete="off"
      >
        <a
          class="nav-link"
          routerLink="/settings"
          routerLinkActive="router-link-active"
          ><i class="bi bi-gear-fill ms-1"></i>Edit Profile Settings</a
        >
      </button>
      } @if(!data.isCurrentUserProfile){
      <app-follow
        [slug]="slug"
        [following]="data.userProfile?.following ?? false"
      ></app-follow>
      }
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profiles', data.userProfile?.username]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            My Posts
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[
              '/profiles',
              data.userProfile?.username,
              'favorites'
            ]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Favorite Posts
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xl-12 col-md-12">
      <app-feed [apiUrl]="getApiUrl()"></app-feed>
    </div>
  </div>
</div>
}
