<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center my-5">
        <div class="col-md-6 col-12">
          <div class="card Sign up">
            <div class="card-body">
              <h2 class="text-center mb-3">Sign In</h2>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="row justify-spcae-between">
                <div class="col-md-12">
                  <app-backend-error-messages
                    *ngIf="data.backendErrors"
                    [backendErrors]="data.backendErrors"
                  ></app-backend-error-messages>
                </div>
                <div class="col-md-4 col-4">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="data.isSubmitting"
                  >
                    Sign In
                  </button>
                </div>
                <div class="col-md-8 col-8">
                  <a
                    name="login"
                    id="login"
                    class="btn btn-link float-end"
                    routerLink="/register"
                    role="button"
                    >Need an account?</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
