<ul class="nav nav-underline">
  @if (currentUser$ | async) {
  <li class="nav-item">
    <a class="nav-link" routerLink="/feed" routerLinkActive="active"
      >Your feed</a
    >
  </li>
  }
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/global-feed"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      queryParamsHandling="merge"
      >Global Feed</a
    >
  </li>
  @if (tagName) {
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/tags', tagName]"
      routerLinkActive="active"
      ><i class="bi bi-hash"></i>{{ tagName }}</a
    >
  </li>
  }
</ul>
