a {
  text-decoration: none;
  color: black;
}
.username {
  color: rgb(30, 78, 233);
}

.text-muted {
  font-size: 0.85rem;
}

img {
  border-radius: 50%;
}
.img-fluid {
  width: 32px;
  height: 32px;
}
