@if (data$ | async; as data){ @if (data.isLoading) {
<app-loading></app-loading>
} @else if ( data.error ) {
<app-error-message [errorMsg]="data.error"></app-error-message>
} @if(data.feed){ @for (article of data?.feed?.articles; track $index) {
<div class="card mb-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 col-sm-8 col-8">
            <h5 class="card-title d-flex gap-2 align-items-center">
              <img
                [src]="article.author.image"
                [alt]="article.author.username"
                class="img-fluid"
              />
              <div class="d-flex flex-column">
                <a
                  class="username"
                  [routerLink]="['/profiles', article.author.username]"
                  >{{ article.author.username }}
                </a>
                <small class="text-muted">{{ article.createdAt | date }}</small>
              </div>
            </h5>
          </div>
          <div class="col-md-2 col-sm-4 col-4">
            <app-add-to-favorites
              [isFavorites]="article.favorited"
              [articleSlug]="article.slug"
              [favoritesCount]="article.favoritesCount"
            ></app-add-to-favorites>
          </div>
        </div>
        <a [routerLink]="['/article', article.slug]">
          <h4 class="card-title">{{ article.title }}</h4>
          <p class="card-text">{{ article.description }}</p>
          <div class="row">
            <div class="col-sm-4 col-12">
              <p class="card-text">Read more...</p>
            </div>
            <div class="col-sm-8 col-12">
              <!--  These are tags -->
              <app-tag-list
                [tags]="article.tagList"
                class="d-flex justify-content-end"
              ></app-tag-list>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
}
<app-pagination
  [total]="data.feed.articlesCount"
  [limit]="limit"
  [url]="baseUrl"
  [currentPage]="currentPage"
></app-pagination>
} }
