@if (data$ | async;as data) { @if(data.isLoading){
<app-loading></app-loading>
} @if(data.article; as article){
<div class="banner">
  <div class="container">
    <h1>{{ article?.title }}</h1>
    <div class="article-actions mt-5">
      <div class="row article-meta align-items-center">
        <div class="col-md-4">
          <h5 class="d-flex gap-2 align-items-center mb-0">
            <img
              [src]="article.author.image"
              [alt]="article.author.username"
              class="img-fluid"
            />
            <div class="d-flex flex-column">
              <a
                class="username"
                [routerLink]="['/profiles', article.author.username]"
                >{{ article.author.username }}
              </a>
              <small class="text-muted">{{ article.createdAt | date }}</small>
            </div>
          </h5>
        </div>
        <div class="col-md-8">
          <ul class="list ps-0 d-flex flex-wrap mb-0 float-end">
            @if (data.isAuther) {
            <li
              class="list-inline-item"
              [routerLink]="['/article', article.slug, 'edit']"
            >
              <a class="btn btn-outline-secondary btn-sm"
                ><i class="bi bi-pencil-square"></i> Edit
              </a>
            </li>
            <li class="list-inline-item" (click)="deleteArticle()">
              <a class="btn btn-outline-secondary btn-sm del-article"
                ><i class="bi bi-trash-fill"></i> Delete</a
              >
            </li>
            } @else {
            <li class="list-inline-item">
              <a class="btn btn-outline-secondary btn-sm"
                ><i class="bi bi-plus"></i>Follow {{ article.author.username }}
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-secondary btn-sm fav-atricle"
                ><i class="bi bi-heart-fill"></i> Favorite Article
                {{ article.favoritesCount }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="article-body">{{ article.body }}</p>
      <app-tag-list [tags]="article.tagList"></app-tag-list>
      <hr class="my-3" />
    </div>
  </div>
</div>
} @if (data.error) {
<app-error-message></app-error-message>
} }
