.banner {
  color: #fff;
  background: #333;
  padding: 2rem 0 2rem 0;
  margin-bottom: 2rem;
}

.article-meta {
  img {
    border-radius: 50%;
  }
  .username {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  .text-muted {
    color: #fff !important;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .fav-atricle {
    color: #5cb85c;
    border-color: #5cb85c;
    &:hover {
      color: #fff;
      background-color: #5cb85c;
    }
  }
  .del-article {
    color: #b85c5c;
    border-color: #b85c5c;
    &:hover {
      color: #fff;
      background-color: #b85c5c;
    }
  }

  @media screen and (max-width: 554px) {
    gap: 1rem;
  }
}

.img-fluid {
  width: 32px;
  height: 32px;
}
